@keyframes AnimationAviso{
    0%{
        border:0px solid rgba(255, 229, 115, 0.0);
    }
    50%{
        border:1px solid rgba(255, 229, 115, 0.9);
    }
    100%{
        border:0px solid rgba(255, 229, 115, 0.0);
    }
}
    
.content-CallAction-consigueweb{
    position:relative;
    display:flex;
    flex-direction:row;
    border:1px solid white;
    animation-name:AnimationAviso;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    max-width:100%;
    width:100%;
}

.content-CallAction-consigueweb .destacar{
    font-size:16px;
    color:rgb(0, 140, 0);
}

.content-CallAction-consigueweb > div.text-content{
    background-color: black !important;
    position:relative;
    flex-grow:10;
    text-align: center;
}

.content-CallAction-consigueweb > figure{   
    flex-grow:1;
    color:white;
    font-size:13px;
    padding:0;
    margin:0;
}

.content-CallAction-consigueweb > figure > img{
    flex-grow:1;
    width:100%; 
}

.content-CallAction-consigueweb > div {
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-grow:1;
    text-align:center;
    padding-top:2em;
}

.content-CallAction-consigueweb * h2, .content-CallAction-consigueweb * h3{
    color:var(--primary-color);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    width:100%;
    text-align:center;
    font-weight: 100;
}

.content-CallAction-consigueweb * h2{
    font-size:var(--font-sizes-title-h2-large);
    font-family: var(--font-family-titles);
}

.content-CallAction-consigueweb * h3{
    font-size:var(--font-sizes-title-h3-large);
}

.content-CallAction-consigueweb > div.text-content > p{
    color:white;
    font-family:'optimist';  
    margin-bottom:1em;
    margin-top:1em;
    width:100%;
    font-size:var(--font-sizes-p-large);  
}

.content-CallAction-consigueweb > div.text-content > ul{
    list-style: none;
    margin:0;
    padding:0;
    margin-top:5vh;
    margin-bottom:1em;
    width:90%;
    color:var(--primary-color);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.content-CallAction-consigueweb > div > ul > li{
    border-bottom:1px solid white;
    text-align:center;
    margin:0;
    padding:10px;
    font-size:var(--font-sizes-p-large);
    font-family:var(--font-family-list);
}

.content-CallAction-consigueweb > div > a{
    margin-top:4em;
    padding:20px;
    border:1px solid var(--primary-color);
    text-decoration: none;
    color:white;
    font-family:var(--font-family-list);
    font-size:var(--font-sizes-p-large);
    animation-name: bordercallaction;
    animation-iteration-count: infinite;
    animation-duration: 2s; 
    width:60%;
}

.content-CallAction-consigueweb > div > a:hover{
    border:1px solid rgb(189, 189, 85);
    color:gray;
}

@media(max-width:1200px){

    .content-CallAction-consigueweb{
        position:relative;
        flex-direction:column;
        margin:0;
        text-align:left;
        border:none; 
        column-gap: 5vh;
        height:auto;
        position:relative;
    }

    .content-CallAction-consigueweb > figure{   
        flex-grow:3;
        position:relative;
        width:100%;
        margin:0;
        padding-left:1px;
        padding-right:1px;
    }

    .content-CallAction-consigueweb > figure > img{
        position:relative;
    }

    .content-CallAction-consigueweb > div{
        flex-grow:1;
        height:auto;
        width:100%;
    }

    .content-CallAction-consigueweb h2, .content-CallAction-consigueweb h3{
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:2vh;
    }

    .content-CallAction-consigueweb h2{
        font-size:var(--font-sizes-title-h2-medium);
    }

    .content-CallAction-consigueweb h3{
        font-size:var(--font-sizes-title-h3-medium);
    }

    .content-CallAction-consigueweb > div > a{
        margin:0;
        margin-top:5vh;
        margin-bottom:5vh;
        font-size:var(--font-sizes-p-medium);
    }

    .content-CallAction-consigueweb > div > ul > li{
        font-size:var(--font-sizes-p-medium);
    }

    .content-CallAction-consigueweb > figure figcaption{
        position:absolute;
    }

    .content-CallAction-consigueweb > div > p{
        margin:0;
        padding:0;
        max-width:100%;
        margin-top:5vh;
        font-size:var(--font-sizes-p-medium);
    }

   
}

@media(max-width:769px){

    .content-CallAction-consigueweb{  
        position:relative;
        flex-direction:column;
        margin:0;
        text-align:left;
        border:none; 
        padding-top:0;
    }

     .content-CallAction-consigueweb *{
        max-width:100%;
        margin:0;
        padding:0;
     }

     .content-CallAction-consigueweb > div{
        margin-top:0;
        width:100%;
     }
    
    .content-CallAction-consigueweb > figure{   
        height:100%;
        color:white;
        font-size:13px;
       
    }

    .content-CallAction-consigueweb > figure > img{
        width:100%;
        position:relative;
        padding:0;
    }

    .content-CallAction-consigueweb > div{
        width: 100vw;
       
    }

    .content-CallAction-consigueweb > div > a.link{
        font-size:var(--font-sizes-p-small);
        background-color: var(--primary-color);
        color:black;
        font-weight: 600;
    }
    
    .content-CallAction-consigueweb > div > h2{
        font-size:var(--font-sizes-title-h2-small);
        margin-bottom:5vh;
        margin-top:5vh;
    }

    .content-CallAction-consigueweb > div > p{
        font-size:var(--font-sizes-p-small);
        text-align:left;
        padding-left:5vw;
        width:95%;
    }

    .content-CallAction-consigueweb > div > ul{
        margin-top:5vh;
        margin-bottom:5vh;
    }

    .content-CallAction-consigueweb > div > ul > li{
        font-size:var(--font-sizes-p-small);
        padding-left:0;
        padding-right:0;
    }

    .content-CallAction-consigueweb > figure figcaption{
        text-align:center;
        position:relative;
    }
}