@keyframes AnimationAviso{
    0%{
        border:0px solid rgba(255, 229, 115, 0.0);
    }
    50%{
        border:1px solid rgba(255, 229, 115, 0.9);
    }
    100%{
        border:0px solid rgba(255, 229, 115, 0.0);
    }
}
    
.content-oferta{
    position:relative;
    display:flex;
    flex-direction:row;
    border:1px solid white;
    animation-name:AnimationAviso;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    max-width:100%;
    width:100%;
}

.content-oferta .destacar{
    font-size:16px;
    color:rgb(0, 140, 0);
}

.content-oferta > div.text-content{
    background-color: black !important;
    position:relative;
    flex-grow:10;
    text-align: center;
}

.content-oferta > figure{   
    flex-grow:1;
    color:white;
    font-size:13px;
    padding:0;
    margin:0;
   
}

.content-oferta > figure > img{
  flex-grow:1;
width:100%; 
}

.content-oferta > div {
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-grow:1;
    text-align:center;
    padding-top:2em;
}

.content-oferta * h2,h3{
   color:white;
   width:100%;
   text-align:center;
   font-size:var(--font-sizes-title-h2-large);
}

.content-oferta > div > p{
    color:white;
    font-family:'optimist';
    font-size:1.2em;
   
    margin-bottom:1em;
    margin-top:1em;
    width:100%;
}


.content-oferta > div > ul{
    list-style: none;
    margin:0;
    padding:0;
    margin-top:5vh;
    margin-bottom:1em;
    width:90%;
}


.content-oferta > div > ul.ulventajas{
    color:var(--second-color);
}

.content-oferta > div > ul.ultiposwebs{
    color:var(--primary-color);
}

.content-oferta > div > ul > li{
    border-bottom:1px solid white;
    text-align:center;
    margin:0;
    padding:10px;
    font-size:var(--font-sizes-p-large);
}

.content-oferta > div > a{
    margin-top:4em;
    padding:20px;
    border:1px solid var(--primary-color);
    text-decoration: none;
    color:white;
    font-family:'optimist';
    animation-name: bordercallaction;
    animation-iteration-count: infinite;
    animation-duration: 2s; 
    width:60%;
}

@media(max-width:1200px){

    .content-oferta{
        position:relative;
        flex-direction:column;
        margin:0;
        text-align:left;
        border:none; 
        column-gap: 5vh;
        height:auto;
        position:relative;
       
    }

    .content-oferta > figure{   
        flex-grow:3;
        position:relative;
        width:100%;
        margin:0;
        padding-left:1px;
        padding-right:1px;
    }

    .content-oferta > figure > img{
        position:relative;
        
    }

    .content-oferta > div{
        flex-grow:1;
        height:auto;
        width:100%;
    }

    .content-oferta > div > a{
        margin:0;
        margin-top:5vh;
        margin-bottom:5vh;
    }

    .content-oferta > div > ul > li{
        font-size:1.2em;
    }

    .content-oferta > figure figcaption{
        position:absolute;
    }

    .content-oferta > div > p{
        font-size:1.3em;
        margin:0;
        padding:0;
        max-width:100%;
        margin-top:5vh;
    }

    .content-oferta h2,h3{
        font-size:2.1em;
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:2vh;
    }
}

@media(max-width:765px){

    .content-oferta{  
        position:relative;
        flex-direction:column;
        margin:0;
        text-align:left;
        border:none; 
        padding-top:0;
    }

     .content-oferta *{
        max-width:100%;
        margin:0;
        padding:0;
     }

     .content-oferta > div{
        margin-top:0;
        width:100%;
     }
    
    .content-oferta > figure{   
        height:100%;
        color:white;
        font-size:13px;
       
    }

    .content-oferta > figure > img{
        width:100%;
        position:relative;
        padding:0;
    }

    .content-oferta > div{
        width: 100vw;
       
    }

    .content-oferta > div > a.link{
        background-color: var(--primary-color);
        color:black;
        font-weight: 600;
    }
    
    .content-oferta > div > h2{
        margin-bottom:5vh;
        margin-top:5vh;
    }

    .content-oferta > div > p{
        font-size:1.2em;
        text-align:left;
        padding-left:5vw;
        width:95%;
    }

    .content-oferta > div > ul{
        margin-top:5vh;
        margin-bottom:5vh;
    }

    .content-oferta > div > ul > li{
        font-size: 1.2em;
        padding-left:0;
        padding-right:0;
    }

    .content-oferta > figure figcaption{
        text-align:center;
        position:relative;
    }
}