.section_contacto{
  /*  background-color: red;*/
    position:relative;
    min-width:100%;
    min-height:10%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.section_contacto > h2{
    color:var(--primary-color);
    font-size:var(--font-sizes-title-h2-large);
    font-family:'lombok';
    margin-top:5vh;
    margin-bottom:2em;
}

.section_contacto > div{
   /* background-color: aqua;*/
    width:60%;
    display:flex;
    flex-direction:row;
    padding-top:0;
    border-radius: 12%;
}

.section_contacto > div {
    width:80%;
}

.section_contacto > div > div.content_imagen_dwba{
   /* background-color: blue;*/
   max-width:20%;
}

.section_contacto > div > div.content_imagen_dwba > img{
   position:relative;
  
   margin-right:10px;
}

.section_contacto > div > div.content_datos_contacto{
   display:flex;
   flex-direction: column;
   background-color: black;
   width:100%;
   padding-left:2em;
   padding-right:2em;
}

.section_contacto > div > div.content_datos_contacto > div{
    position:relative;
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:2em;
    margin-bottom:2em;
    justify-content: space-between;
    align-items: center;
}

.section_contacto > div > div.content_datos_contacto > div > h3{
    font-size:var(--font-sizes-title-h3-large);
    color:var(--tertiary-color);
    font-family:'lombok';
}

.section_contacto > div > div.content_datos_contacto > div > div{
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:5vw;
}

.section_contacto > div > div.content_datos_contacto > div > p{
    color:white;
    margin-left:30px;
    font-size:var(--font-sizes-p-large);
    vertical-align: bottom;
    max-height: 40px;
}
.section_contacto > div > div.content_datos_contacto > div > img{
    width:60px;
}

.section_contacto .content_datos_localizacion{
    padding-bottom:4em;
    text-align:left;
}

.section_contacto .content_datos_localizacion h3{
    color:var(--primary-color);
    text-align:left;
    margin-top:2em;
    font-size:var(--font-sizes-title-h3-large);
}

.section_contacto .content_datos_localizacion p{
    color:white;
    font-size:15px;
}

.section_contacto > div > div.content_datos_contacto > div > .qrcontacto{
        min-width:100px;
        height:auto;
        padding:0;
        padding-left:0;
}

 .numeroTelefono{
        min-width:160px;
        padding-left:10px;    
 }  

@media(max-width:1200px){

    .section_contacto{
    
    }

    .section_contacto > h2{
        font-size:var(--font-sizes-title-h2-medium);
    }

    .section_contacto > div{
        width:80%;
    }

    .section_contacto > div > div.content_datos_contacto > div > h3{
        font-size:var(--font-sizes-title-h3-medium);
    }

    .section_contacto > div > div.content_datos_contacto > div > div > p{
        font-size:var(--font-sizes-p-medium);
    }

    .section_contacto > div > div.content_datos_contacto > div > div > img{
        width:40px;
    }

    .section_contacto .content_datos_localizacion p{
        font-size:var(--font-sizes-p-medium);
        color:white;
     }
}

@media(max-width:780px){

    .section_contacto{
        width:100%;
        position:relative;
        padding-bottom:2em;
    }

    .section_contacto > h2{
        text-align:center !important;
        font-size:var(--font-sizes-title-h2-small);
        padding-bottom:1em;
    }

    .section_contacto .content_datos_localización h3{
        color:var(--primary-color);
        text-align:center;
        margin-top:2em;
        font-size:var(--font-sizes-title-h3-small);
    }

    .section_contacto .content_datos_localizacion p{
        font-size:var(--font-sizes-p-small) !important;
        text-align:left;
        padding:0.5em;
        padding-top:2em;
        padding-bottom:0.5em;
     }

    .section_contacto > div{
        width:100%;
        padding:0;
        margin:0;
        margin-bottom:2vh;
    }

    .section_contacto > div > div.content_datos_contacto  div{
        justify-content: left;
        flex-direction: column;
    }

     .section_contacto > div > div.content_datos_contacto > div > img{
        width:30px;
     }

      .section_contacto > div > div.content_datos_contacto > div > div > p{
        font-size:var(--font-sizes-p-small);
      }

      .qrcontactocontent{
         display:none;
      }
   
      .numeroTelefono{
        padding:0;
      }
}