.section_contacto{
  /*  background-color: red;*/
    position:relative;
    min-width:90%;
    min-height:90%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.section_contacto > h2{
    color:var(--primary-color);
    font-size:var( --font-size-large);
    font-family:'lombok';
    margin-top:5vh;
    margin-bottom:2vh;
}

.section_contacto > div{
   /* background-color: aqua;*/
    width:70%;
    display:flex;
    flex-direction:row;
    padding:10%;
    padding-top:0;
    border-radius: 12%;
}

.section_contacto > div > div.content_imagen_dwba{
   /* background-color: blue;*/
   max-width:20%;
}

.section_contacto > div > div.content_imagen_dwba > img{
   position:relative;
   width:100%;
   margin-right:10px;
}

.section_contacto > div > div.content_datos_contacto{
    flex-grow: 4;
}

.section_contacto > div > div.content_datos_contacto > div{
    position:relative;
    width:100%;
    padding-left:2vw;
}

.section_contacto > div > div.content_datos_contacto > div > h3{
    font-size:var( --font-size-large);
    color:var(--tertiary-color);
    font-family:'lombok';
}

.section_contacto > div > div.content_datos_contacto > div > div{
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.section_contacto > div > div.content_datos_contacto > div > div > p{
    color:white;
    margin-left:30px;
    font-size:1.4rem;
    vertical-align: bottom;
    max-height: 40px;
}
.section_contacto > div > div.content_datos_contacto > div > div > img{
    width:60px;
    margin-left:2vw;
}

.section_contacto .content_datos_localización h3{
    color:var(--primary-color);
    text-align:center;
    margin-top:2em;
    font-size:2.2em;
}

.section_contacto .content_datos_localización p{
    color:white;
    font-size:1.4rem;
}

.qrcontacto{
        width:150px !important;
        height:auto;
}

@media(max-width:1200px){

    .section_contacto{
    
    }

    .section_contacto > h2{
        font-size:1.5rem;
    }

    .section_contacto > div{
        width:80%;
    }

    .section_contacto > div > div.content_datos_contacto > div > h3{
        font-size:1.2rem;
    }

    .section_contacto > div > div.content_datos_contacto > div > div > p{
        font-size:1.4rem;

    }

    .section_contacto > div > div.content_datos_contacto > div > div > img{

        width:40px;
    }

   
}


@media(max-width:780px){

    .section_contacto{
        width:100%;
        position:relative;
    }

    .section_contacto > h2{
        text-align:center;
    }

    .section_contacto .content_datos_localización h3{
        color:var(--primary-color);
        text-align:center;
        margin-top:2em;
        font-size:2.2em;
    }

     .section_contacto .content_datos_localización p{
        font-size:1.2em;
     }

     .section_contacto > div{
        width:100%;
        padding:0;
        margin:0;
        margin-bottom:2vh;
    }

     .section_contacto > div > div.content_datos_contacto > div 

     .section_contacto > div > div.content_datos_contacto > div > div > img{

        width:30px;
     }

      .section_contacto > div > div.content_datos_contacto > div > div > p{
        font-size:1.2rem;
      }

      .qrcontacto{
        display:none;
      }

}