.layout_inicio{
    height:86.8vh;
    width:100vw;
    margin-top:5vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}



@media(max-width:780px){
    .layout_inicio{
        height:100vh;
        margin-top:0;
    }
}