footer{
   background-color: rgb(0,0,0,0.4);
   width:100%;
   height:20vh;
   color:white;
   display:flex;
   flex-direction:column;
   padding-top:5vh;
   padding-bottom:5vh;
   font-size:var(--font-sizes-p-large);
}

footer > div{
    justify-content: center;
}

footer > div.content_enlaces > div{
    flex-grow:3;
    padding-bottom:4vh;
    position:relative;
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

footer > div.content_enlaces > div > ul{
    list-style:none;
}

footer > div.content_enlaces > div > ul > li > a{
    text-decoration:none;
    color:white;
    margin-top:10px;
   
}

footer > div.content_enlaces > div > ul > li > a:visited{
    color:var(--tertiary-color);
}

footer > div.content_enlaces > div.footer_logo_content > img{
    width:5vw;
    margin-left:2vw;
}

footer > div.content_enlaces{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
}

footer  > div.copyright{
    position:relative;
    width: 100%;
    display:flex;
    justify-content: center;
}

footer  > div.copyright > span{
    font-size:var(--font-size-copyright-large);
    color:white;
}

@media(max-width:1200px){
  
}


@media(max-width:780px){

   
}