.ofertas-web-limitadas{
    min-width:100vw;
    max-width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow:none !important;
  height:auto !important;
  max-width:none;
}

.ofertas-web-limitadas > section{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:765px;
    max-width:765px;
    justify-items: center;
    background-color: rgba(0,0,0,0.7);
    margin-top:5em;
    padding:4em;
}

.ofertas-web-limitadas > section > img{
    max-width:100vw;
}

.ofertas-web-limitadas > section > h1{
    margin-top:3em;
    font-size:2.5rem;
    color:var(--primary-color);
}

.ofertas-web-limitadas  h2{
    color:var(--primary-color);
    font-size:2.3rem;
}

.ofertas-web-limitadas  h3{
    color:var(--primary-color);
    font-size:1.8rem;
    padding:0;
    margin:0;
}

.ofertas-web-limitadas > section > article{
    margin-top:3em;
    width:60%;
}

.ofertas-web-limitadas  p{
    color:white;
    font-size:1.4em;
    margin-top:2em;
    margin-bottom:2em;
}


.ofertas-web-limitadas > section > ul{
    color:white;
    list-style:none;
    font-size:1.3em;
}

.ofertas-web-limitadas > section.contacto-content{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ofertas-web-limitadas > section.contacto-content *{
    margin-right:1em;
    
}

.ofertas-web-limitadas  a {
    padding:20px;
    text-decoration:none;
    color:var(--primary-color);
    font-size:1.4em;
    border:1px solid var(--primary-color);
    margin-top:5rem;
    margin-bottom:5em;
}

.logo_dwba{
    width:200px;
    margin-top:2em;
}

@media(max-width:765px){

     .ofertas-web-limitadas{
        padding:0;
        max-width:100vw;
     }
    .ofertas-web-limitadas > section.contacto-content{
        flex-direction:column;
    }

    .ofertas-web-limitadas > section{
        max-width:100%;
        align-items:center;
        justify-self: center;
        padding:0;
        margin:0;
    }

    .ofertas-web-limitadas > section > img{
        display:flex;
        max-width:95%;
        margin:0;
        margin-bottom:2em;
    }

    .ofertas-web-limitadas > section > h2{
        text-align:center;
        margin-top:3em;
        max-width:98%;
    }

     .ofertas-web-limitadas > section > h3{
        text-align:center;
        max-width:98%;
     }

    .ofertas-web-limitadas p{
        max-width:90%;
        position:relative;
        font-size:1.2em;
        padding-left:5px;
    }

    .ofertas-web-limitadas ul li{
        font-size:1.4em;
        margin-bottom:30px;
    }

   
}