:root{
    /** COLORS */
    --primary-color:rgb(251, 236, 139);
    --second-color:white;
    --tertiary-color:#c4a557;

    /** FONT FAMILY*/
    --font-family-titles:'lombok';

    /** FONT SIZES**/

    /** FONT SIZE MENU*/
    /** Level 1*/
    --font-size-menu-lv1:1.4rem;
    
    /** FONT SIZE TITLE*/
    --font-sizes-title-h1-large:4rem;
    --font-sizes-title-h1-medium:2.8rem;
    --font-sizes-title-h1-small:1.8rem;

    --font-sizes-title-h2-large:2rem;
    --font-sizes-title-h2-medium:2rem;
    --font-sizes-title-h2-small:1.5rem;

    --font-sizes-title-h3-large:1.8rem;
    --font-sizes-title-h3-medium:1.8rem;
    --font-sizes-title-h3-small:1.3rem;

    --font-sizes-title-detalles-large:1.3rem;
    --font-sizes-title-detalles-medium:1rem;
    --font-sizes-title-detalles-small:0.8rem;

    /** FONT SIZE PARRAFOS */
    --font-sizes-p-large:1.35rem;
    --font-sizes-p-medium:1.3rem;
    --font-sizes-p-small:1.2rem;

    --font-sizes-p-detalles-large:1rem;
    --font-sizes-p-detalles-medium:1rem;
    --font-sizes-p-detalles-small:0.8rem;

    /** FONT SIZE ESPECIAL*/
    --font-size-price-large:0;
    --font-size-price-medium:0;
    --font-size-price-small:0;

    --font-size-gratis-large:0;
    --font-size-gratis-medium:0;
    --font-size-gratis-small:0;

    --font-size-copyright-large:0.8rem;
    --font-size-copyright-medium:0.8rem;
    --font-size-copyright-small:0.8rem;
}

*{
    max-width:100vw;
}

@font-face{
    font-family:'nowyouseeme';
    src:url('/fonts/NOWYOUSEEME.ttf') format('ttf');
    font-weight:600;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family:'lombok';
    src:url('/fonts/lombok.otf') format('otf');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family:'optimist';
    src:url('/fonts/Optimist-Regular.ttf') format('ttf');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}

html, body{
    padding:0;
    margin:0;
    background-image: url('/image/TEXTURA_FONDO_LOGO_PUZZLE_1920.webp'); 
    overflow-x: clip !important; /** scroll horizontal fantasma, se elimina*/
}

.content-scroll-page{
    /*background-color:rgb(172, 19, 19,0.3);*/
    /*scroll*/
    overflow: scroll; 
    overflow: auto;        /** permite scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge antiguos */
    display:flex;
    flex-direction:column;
    align-items:end;
    padding-right:5em;
}

.content-scroll-page::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

p.description-page-inicio{
    color:var(--primary-color);
    padding-left:10%;
    padding-right:10%;
    font-size:var(--font-sizes-p-large);
    font-family:'nowyouseeme';
}

@media(max-width:1200px){
    body{  
        background-image: url('/image/TEXTURA_FONDO_LOGO_PUZZLE_1920.webp');
    }

    .content-scroll-page{
        width:65%;
        column-gap: 10vh;
        padding-right:0;
    }

    .p.description-page-inicio{
        font-size:var(--font-sizes-p-medium);
    }
}

@media(max-width:780px){

    p.description-page-inicio{
        font-size: var( --font-sizes-p-small );
    }

    .content-scroll-page{
        width:100%;
        max-width:100%;
        padding-right:0;
        align-items:center;
    }
}