.description{
    position:relative;
    min-height:50vh;
    max-height:100%;
    display:flex;
    flex-direction:column;
    padding:4%;
    justify-content:space-between;
    max-height: min-content;
    width:100%;
}

.description > h3{
     font-family:var(--font-family-titles);
     font-size:var(--font-sizes-title-h3-large);
     color:var(--primary-color);
     width:100%;
     text-align:center;
     mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}

.description > .content-text{
    flex-grow:8;
    position:relative;
    max-height:70%;
}

.description > .content-text > p{
    color:white;
    font-size:var(--font-sizes-p-large);
    font-family:'optimist';
    text-align:left;
}

.description > div{
    text-align:center;
    display: flex;
    flex-direction: column;
}

.description > div.content-text > a{
    position:relative;
    padding:8px;
    background-color:var(--primary-color);
    font-size:var(--font-sizes-p-large);
    text-align:center;
    font-family:'lombok';
    color:rgb(0,0,0);
    text-decoration:none;
    font-weight: 800;
}

.description > div > a:hover{
    color:var(--primary-color);
    background-color: rgb(0,0,0,0.0);
    text-decoration: underline;
    text-decoration:wavy;
}

.description >  a.enlace-entrar{
    font-size:var(--font-sizes-p-large);
    background-color:var(--primary-color);
    color:black;
    padding:25px;
    max-width:200px;
}

@media(max-width:1200px){
    
    .description{
        padding:1%;
        width:100%;
    }

    .description > h3{
        margin-top:2vh;
        margin-bottom:0;
        font-size:var(--font-sizes-title-h3-medium);
    }

    .description > .content-text > p{
        font-size:var(--font-sizes-p-medium);
        margin-top:1vh;
    }

    .description > div > a{
        font-size:var(--font-sizes-p-medium);
        margin-top:4vh;
        
    }
}

@media(max-width:789px){

    .description{
        width:auto;
        max-width:none;
        height:auto;
        position:relative;
        max-width:100%;
        min-width:0;
        padding-top:5vh;
        min-height:0;
    }

    .description > h3{
        font-size:var(--font-sizes-title-h3-small);
        margin:0;
        padding:0;
        margin-bottom:5vh;
        margin-top:1rem;
    }

    .description > .content-text{
        min-height:none;
        max-height:none;
        display:flex;
        height: 100%;
        max-height: none;
        display: flex;
        overflow:hidden;

     }

     .description > div.content-text > p{
       position:relative;
       width:100%;
       max-width:100%;
       height:auto;
       font-size:var(--font-sizes-p-small);
       margin:0;
       padding:0;
       margin-top:1em;
       margin-bottom:2em;
       margin-left:3px;
     }

    .description >  a.enlace-entrar{
        position:relative;
     }
}