.description{
    position:relative;
   /* width:100%; */
    max-height:100%;
    display:flex;
    flex-direction:column;
    padding:4%;
    justify-content:space-between;
    max-height: min-content;
}

.description > h2{

     font-family:'lombok';
     font-size:var(--font-sizes-title-h2-large);
     color:var(--primary-color);
     width:100%;
     text-align:center;
}

.description > .content-text{
    flex-grow:8;
    position:relative;
    max-height:70%;
}

.description > .content-text > p{
    color:white;
    font-size:var(--font-sizes-p-large);
    font-family:'optimist';
    text-align:left;
}

.description > div{
    text-align:center;
    display: flex;
    flex-direction: column;
}

.description > div.content-text > a{
    position:relative;
    padding:8px;
    background-color:var(--primary-color);
    /*padding:1vw 3vw 1vw 3vw;*/
    text-align:center;
    font-family:'lombok';
    color:rgb(0,0,0);
    font-size:var( --font-size-large);
    text-decoration:none;
    font-weight: 800;
}

.description > div > a:hover{
    color:var(--primary-color);
    background-color: rgb(0,0,0,0.0);
    text-decoration: underline;
    text-decoration:wavy;
}

 .description >  a.enlace-entrar{
    color:black;
    padding:25px;
    background-color:var(--primary-color) ;
    max-width:auto;
    font-size:var(--font-sizes-p-large);
}

@media(max-width:1200px){
    
    .description{
        padding:1%;
        width:100%;
    }

    .description > h2{
        margin-top:2vh;
        margin-bottom:0;
        font-size:var(--font-sizes-title-h2-medium);
    }

    .description > .content-text > p{
        font-size:1.3rem;
        margin-top:1vh;
    }

    .description > div > a{
        font-size:1.2rem;
        margin-top:4vh;
        
    }
}


@media(max-width:789px){

    .description{
        width:auto;
        max-width:none;
        height:auto;
        position:relative;
        max-width:100%;
        min-width:0;
        padding-top:5vh;
        min-height:0;
    }

     .description > h2{
        font-size:var(--font-sizes-title-h2-small);
        margin:0;
        padding:0;
        margin-bottom:5vh;
        margin-top:1rem;
        font-family:'lombok';
     }

     .description > .content-text{
        min-height:none;
        max-height:none;
        display:flex;
        
     }

     .description > div.content-text > p{
       position:relative;
       width:100%;
       max-width:100%;
       height:auto;
       font-size:var(--font-sizes-p-small);
       margin:0;
       padding:0;
       margin-top:2em;
       margin-left:3px;
       
     }

    .description >  a.enlace-entrar{
        position:relative;
     }
}