.ofertas-web-limitadas{
    min-width:100vw;
    max-width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    max-width:1920px;
}

.ofertas-web-limitadas h1{
    color:rgb(237, 237, 105);
    margin-top:10vh;
    font-family:'lombok' ;
    font-size:6rem;
}

.ofertas-web-limitadas > section{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    max-width:100%;
    justify-items: center;
    background-color: rgba(0,0,0,0.7);
    padding:4em;
    padding-left:30%;
    padding-right:30%;
    flex-wrap: wrap;
}

.ofertas-web-limitadas > section > img{
    max-width:100vw;
}

.ofertas-web-limitadas > section > figure{
    max-width: 100%;
    padding-bottom:25px;
}

.ofertas-web-limitadas > section > figure > img{
    max-width:100vw;
    margin-top:50px;
}

.ofertas-web-limitadas > section > figure > figcaption{
    max-width:100%;
    color:gray;
    font-size:15px;
    text-align: center;
}

.ofertas-web-limitadas > section > h1{
    margin-top:var(--font-sizes-title-h1-large);
    font-size:2.5rem;
    color:var(--primary-color);
    text-align:center;
}

.ofertas-web-limitadas > section > h2{
    text-align:center;
    width:100%;
    font-size:var(--font-sizes-title-h2-large);
}

.ofertas-web-limitadas > section > h3{
    text-align:center;
    font-size:var( --font-sizes-title-h3-large);
    margin-bottom:3em;
    color:white;
}

.ofertas-web-limitadas > section  p{
    color:white;
}

.ofertas-web-limitadas  h2{
    color:var(--primary-color);
    font-size:var(--font-sizes-title-h2-large);
    font-size:3em;
    font-family:'lombok' ;
}

.ofertas-web-limitadas  h3{
    color:var(--primary-color);
    font-size:var(--font-sizes-title-h3-large);
    padding:0;
    margin:0;
}

.ofertas-web-limitadas  h4{
    font-size:1.2em;
    color:rgb(237, 237, 105);
}

.ofertas-web-limitadas > section.diseñoweb-content{
    display:flex;
   flex-direction:column;
}

.ofertas-web-limitadas > section.diseñoweb-content > article{
    width:none;
    height:none;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:start;
    flex-grow: calc(1/3);
    padding:2vw;
}

.ofertas-web-limitadas > section.diseñoweb-content h3{
    margin-bottom:2vh;
}

.ofertas-web-limitadas > section.diseñoweb-content  p{
    color:rgb(255, 255, 255);
    font-size: var(--font-sizes-p-large);
    padding-top:2vh;
    padding-bottom:2vh;
    width:60%;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > p.oferta_precio{
    color:rgb(27, 212, 27);
}

.ofertas-web-limitadas > section.diseñoweb-content > article > ul{
    font-size: var(--font-sizes-p-large);
    margin:0;
    padding:0;
    list-style: none;
    margin-bottom:3vh;
    padding-left:2vw;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > ul > li{
    color:white;
    font-size:1rem;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > figure {
    width:100%;
    position:relative;
    margin:0;
    padding:0;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > figure > figcaption{
    color:gray;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > figure img{
   position:relative;
   width:100%;
   margin:0;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > div{
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items:center;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > div > p{
    color:white;
}

.ofertas-web-limitadas > section.diseñoweb-content > article > p.oferta_precio{
    font-size:3rem;
    color:green;
    width:100%; 
}

.ofertas-web-limitadas > section.diseñoweb-content div.tiposWebs{
   width:100%;
   display:flex;
   flex-direction:row;
   justify-content: center;
   gap: 20%;
}

.ofertas-web-limitadas > section.diseñoweb-content div.tiposWebs{
      font-family:'optimist';
}

.ofertas-web-limitadas > section.diseñoweb-content div.tiposWebs ul{
    list-style:none;
    text-align:left;
}
.ofertas-web-limitadas > section.diseñoweb-content div.tiposWebs ul li{
    color:white;
    font-size:var(--font-sizes-p-large);
    margin-top:20px;
    font-family:'optimist';
}

.ofertas-web-limitadas > section > article{
    width:50%;
}

.ofertas-web-limitadas > section  h2{
    margin-bottom:2rem;
}

.ofertas-web-limitadas > section > article h3{
    text-align:left;
}

.ofertas-web-limitadas > section > article p{
    text-align:left;
    font-size:var(--font-sizes-p-large);
}

.ofertas-web-limitadas > section > div{
    margin-top:3em;
    position:relative;
    width:100%;
}

.ofertas-web-limitadas > section > ul{
    color:white;
    list-style:none;
    font-size:var(--font-sizes-p-large);
    padding:0;
    width:100%;
    padding-left:20%;
    list-style: none;
}

.ofertas-web-limitadas > section.contacto-content{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    align-items: flex-start;
    
}

.ofertas-web-limitadas > section.contacto-content > article{
    display:flex;
    flex-direction: column;
    text-align: left;
    width:765px;
    margin-left:5vw;
}

.ofertas-web-limitadas > section.contacto-content > article > p{
    width:auto;
}

.ofertas-web-limitadas  a {
    padding:20px;
    text-decoration:none;
    color:var(--primary-color);
    min-width:80px;
    text-align: center;
    border:1px solid var(--primary-color);
    margin-top:1em;
    width:80%;
    max-width:100px;
}

.ofertas-web-limitadas  a:hover{
    color:rgb(237, 226, 98);
    border-color: rgb(50, 45, 1);
}

.ofertas-web-limitadas  .logo_dwba{
    width:200px;
    position:fixed;
    left:10vw;
    top:40vh;
    opacity:0.3;
    border-radius:26px;
}

.ofertas-web-limitadas .oferta_precio{
    width:100%;
    color:yellow;
    font-size:3em;
    opacity:0.6;
}

.gratis-content{
    display:flex;
    flex-direction: row;
    max-width:100%;
    margin-top:2vh;
}

.gratis-content > li{
    margin-left:0.5em;
    font-size:0.9em;
    max-width:100%;
}

.gratis-content > li > span{
    color:green;
}

.ofertas-web-limitadas > section.portafolio{
    padding-bottom:10vh;
    gap:50px;
}

.ofertas-web-limitadas > section.portafolio > h2{
    margin-bottom:2em;
}

.ofertas-web-limitadas > section.portafolio > div{
    margin-top:0;
    position:relative;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:50px;
    row-gap: 5vh;
    justify-content: center;
}

section.detalles-oferta > div{
    display:flex;
    flex-direction:row;
    justify-content: center;
    max-width:1400px;

}

section.detalles-oferta > div > figure{
    max-width:50% !important;
}
section.detalles-oferta > div > div{
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding-top:10vh;
}



section.detalles-oferta > div > div > p{
    font-size:var(--font-sizes-p-large);
    padding-left:2vw;
    padding-right:2vw;
}

@media(max-width:1200px){


    section.diseñoweb-content > section{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ofertas-web-limitadas  .logo_dwba{
        display:none;
    }

    .gratis-content{
        flex-direction:column;
    }

    .gratis-content > li{
        margin-left:0;
    }


    .ofertas-web-limitadas > section > figure > img{
        margin-top:50px;
    }

    section.beneficios > article{
        padding:0;
        padding-left:0;
        padding-right:0;
        width:80%;
     }

    section.detalles-oferta > div{
        flex-direction:column;
      
    }

    section.detalles-oferta > div > figure{
        max-width:90% !important;
        text-align: center;
        margin:0;
    }

    section.detalles-oferta > div > figure > img{
        width:60%;
    }
}

@media(max-width:765px){

    .ofertas-web-limitadas{
        padding:0;
        max-width:100vw;
        column-gap: 10vh;
    }

    .ofertas-web-limitadas h1{
        font-size: 3rem;
        padding-left:2vw;
    }

    .ofertas-web-limitadas > section.diseñoweb-content{
        max-width:100%;
        flex-direction:column;
        justify-content: left;
        align-content: center;
        padding:0;
        margin:0;
        padding-top:1em;
    }

    .ofertas-web-limitadas > section.diseñoweb-content > article{
        width:90%;
    }
    
    .ofertas-web-limitadas > section.diseñoweb-content  p{
        width:90%;
    }

    .ofertas-web-limitadas > section.diseñoweb-content > article > h3{
        margin-top:3em;
    }

    .ofertas-web-limitadas > section > article{
        width:90%;
    }

    .ofertas-web-limitadas > section > div{
        margin-top:0;
       
    }

    .ofertas-web-limitadas > section > img{
        display:flex;
        max-width:95%;
        margin:0;
        margin-bottom:2em;
    }

    .ofertas-web-limitadas > section > figure {
        padding-bottom:0;
        margin-bottom:50px;
    }

    .ofertas-web-limitadas > section > figure > figcaption{
        text-align:left;
        height:50px;
    }

    .ofertas-web-limitadas > section > figure > img{
        margin-top:0;
    }

    .ofertas-web-limitadas h2{
        text-align:left;
        margin-top:10vh;
    }

    .ofertas-web-limitadas > section > h2{
        text-align:left;
        margin-top:3em;
        max-width:98%;
        font-size:var(--font-sizes-title-h2-small);
    }

    .ofertas-web-limitadas > section > h3{
        text-align:center;
        max-width:98%;
        font-size:var(--font-sizes-title-h3-small);
        margin-top:2em;
    }

    .ofertas-web-limitadas p{
        max-width:90%;
        position:relative;
        font-size:var(--font-sizes-p-small);
        padding-left:5px;
    }

    .ofertas-web-limitadas{
        padding:0;
        margin:0;
    }

    .ofertas-web-limitadas > section > ul{
        padding-left:10px;
    }

    .ofertas-web-limitadas ul li{
        font-size:0.8em;
        margin-bottom:30px;
        padding-left:0;
        width:100%;
    }

    .ofertas-web-limitadas  .logo_dwba{
        display:none;
    }

  .ofertas-web-limitadas > section.diseñoweb-content > article > p.oferta_precio{
        font-size:3rem;
        color:green;
        width:100%;
        text-align: center;
    }
    .ofertas-web-limitadas > section.diseñoweb-content div.tiposWebs{
        flex-direction:column;
        text-align:left;
        font-family:'lombok' ;
    }

    .gratis-content > li{
        margin-left:0;
    }
    
    .beneficios h2{
        font-size:1.6em;
        text-align:left !important;
    }

    .beneficios h3{
        font-size:1.3em;
        text-align:left;
    }

    .ofertas-web-limitadas .contacto-content  h2{
        text-align:center;
        font-size:2em;
    }

    .ofertas-web-limitadas .contacto-content p{
        text-align:left;
    }

    .ofertas-web-limitadas > section.contacto-content{
        flex-direction: column;
    }

    .ofertas-web-limitadas > section.contacto-content article{
        width:90%;
        text-align: left;
    }

    .ofertas-web-limitadas > section.contacto-content article > p{
        width:100%;
    }

    .ofertas-web-limitadas > section.beneficios p{
        color:white;
        width:100%;
       
    }

    .ofertas-web-limitadas > section.beneficios h3{
        margin-top:4rem;
    }
   
    .ofertas-web-limitadas  a {
        max-width: none;
        width:80%;
    }

    .section.detalles-oferta > div > figure{
        width:100%;
    }

   
    section.detalles-oferta > div > figure > img{
        width:100%;
    }
}