.Image3DHoverEffect_container{
    display:flex;
    flex-direction:column; 
    align-items:left;
    position:relative;
    transform:  rotate(-30deg) skew(25deg) scale(0.8);
}

.Image3DHoverEffect_container:hover img:nth-child(1){
    transform: translate(20px, -60px);
    filter: opacity(10%);
}

.Image3DHoverEffect_container:hover img:nth-child(2){
    transform: translate(30px, -70px);
    filter: opacity(30%);
}

.Image3DHoverEffect_container:hover img:nth-child(3){
    transform: translate(40px, -90px);
    filter: opacity(60%);
}

.Image3DHoverEffect_container:hover img:nth-child(4){
    transform: translate(50px, -30px);
    filter: opacity(100%);
}

.Image3DHoverEffect_container img{
    transition: 0.8s;
    position:absolute;
}



