nav#menuprincipal{
    width:80vh;
    margin-right:5vw;
    height:5vh;
    background-color: black;
    display:flex;
    align-items: center;
    padding-left:2vw;
    padding-right:2vw;
    opacity: 0.85;
    margin-bottom:0;
    border:1px solid var(--tertiary-color);
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,0.9)
    );
    box-shadow: -16px 20px 9px 0px rgba(0,0,0,0.73);
    -webkit-box-shadow: -16px 20px 9px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: -16px 20px 9px 0px rgba(0,0,0,0.73);
    z-index: 1000;
    
}

nav#menuprincipal > ul {
    display:flex;
    flex-direction:row;
    margin:0;
    padding:0;
    position:relative;
    width:100%;
    display:flex;
    justify-content:space-between;
}

nav#menuprincipal > ul > li{
    display:flex;
    margin:0;
    padding:0;
}

nav#menuprincipal > ul > li > a{
    padding:10px;
    font-family:'lombok'; 
    font-size:var(--font-size-large);
    color:var(--primary-color);
    text-decoration:none;
    font-size:var(--font-size-menu-lv1);
}

nav#menuprincipal > ul > li > a:hover{
    color:var(--tertiary-color);
}

@keyframes animation_open_submenu{
    0%{
        opacity:0.0;
        height:0vh;
    }

    100%{
        opacity:1;
        height:14vh;
    }
}

/** Submenu */
nav#menuprincipal > ul > li > ul.submenu{
    position: absolute;
    margin-top: 7vh;
    padding:20px;
    padding-top:2em;
    width: 35vw;
    height: 14vh;
    background-color: black;
    margin-right: 5vw;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity:0.9;
    list-style: none;
    border:1px solid var(--tertiary-color);
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,0.9)
    );
    animation-name:animation_open_submenu;
    animation-duration:2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

nav#menuprincipal > ul > li > ul.submenu_close{
    display:none;
}

nav#menuprincipal > ul > li > ul.submenu > li{
    height:auto;
}

nav#menuprincipal > ul > li > ul.submenu > li > a{
    position:relative;
    text-decoration: none;
    color:var(--primary-color);
    width:25%;
    height:auto;
    padding:20px;
    font-family:'lombok'; 
}

nav#menuprincipal > ul > li > ul.submenu > li > a:hover{
    background-color: rgba(82, 82, 22, 0.281);
    color:var(--primary-color);
}

.button_submenu{
    color:var(--primary-color);
    font-size:2em;
}
.menu-close{
    display:none;
}

.icon_menu_mobile{
    display:none;
}

@media(max-width:1200px){
   nav#menuprincipal{
        position:relative;
        width:100%;
        padding:0;
        margin-right:0;
   }

   nav#menuprincipal > ul {
    justify-content: center;
   }

   nav#menuprincipal > ul > li > a{
    font-size:1.7rem;
   }

    /** Submenu */
    nav#menuprincipal > ul > li > ul.submenu{
        width:80vw;
        left:0;
    }

    nav#menuprincipal > ul > li > ul.submenu > li{
        
    }

    nav#menuprincipal > ul > li > ul.submenu > li > a{
    
    }

    nav#menuprincipal > ul > li > ul.submenu > li > a:hover{
    
    }
}

@media(max-width:780px){

    nav#menuprincipal{
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        z-index:10;
        margin:0;
        padding:0;
        background-color: var(--primary-color);
        min-height:100vh;
        overflow: hidden;
    }

    nav#menuprincipal > ul{
        flex-direction: column;
        align-items: start;
        padding-top:10vh;       
        position:relative;
        width:100%;
        height:100%;
        min-height:100vh;
        top:0;
        justify-content: start;
    }
    
    nav#menuprincipal > ul > li{
        font-size:4rem;
        width:100%;
        border-bottom:1px solid black;
        color:black;
        text-align:center;
        padding-top:2vh;
        padding-bottom:2vh;
        justify-content: center;
    }

    nav#menuprincipal > ul > li > a{
        color:black;
        font-weight: bold;
    }

    .icon_menu_mobile{
        top:5px;
        left:85vw;
        display:flex;
        position:fixed;
        z-index:12;
        width:48px;
        height:48px;
        background-color: black;
        margin-left:0;
        border-radius:11px;
        border:1px solid var(--primary-color);
    }

    nav#menuprincipal.menu_close_start{
        margin-left:-101vw;
    }

    @keyframes animation_menu_close{
        0%{
            margin-left:0vw;
        }

        100%{
            margin-left:-101vw;
        }
    }

    @keyframes animation_menu_open{
        0%{
            height:50vh;
            margin-left:-101vw;
            border-bottom-right-radius:800px;
        }
        50%{
            border-bottom-right-radius:800px;
        }
        100%{
            height:100vh;
            margin-left:0vw;
            border-bottom-right-radius:0px;
        }
    }

    nav#menuprincipal.menu-close{
        margin-left:-101vw;
        animation-name:animation_menu_close;
        animation-fill-mode: forwards;
        animation-duration: 200ms;
    }

    nav#menuprincipal.menu-open{
        margin-left:0vw;
        animation-name:animation_menu_open;
        animation-fill-mode: forwards;
        animation-duration:200ms;
    }

    nav#menuprincipal > ul > li.submenucontent{
        display:flex;
        flex-direction:column;
        justify-content: center;
        height:4vh;
        height:auto;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    nav#menuprincipal > ul > li > a:hover{
        color:black;
    }   

    @keyframes animation_open_submenu_mobile{
        0%{
            opacity:0.0;
            height:0vh;
        }

        100%{
            opacity:1;
            height:30vh;
        }
    }

    nav#menuprincipal > ul > li > ul.submenu{
        position:relative;
        background-color: var(--primary-color);
        left:0;
        width:100%;
        margin-top:0;
        padding:0;
        filter:none;
        overflow: hidden;
        animation-name:animation_open_submenu_mobile;
    }

    nav#menuprincipal > ul > li > ul.submenu > li{
        display:flex;
        justify-content:center;
        width:100%;
    }

    nav#menuprincipal > ul > li > ul.submenu > li > a{
        font-size:0.3em;
        color:black;
        text-align:center;
        width:100%;
        border-bottom:1px solid rgba(47, 47, 47, 0.464);
        font-family:var(--font-family-parrafo);
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        font-weight: 900;
    }

    nav#menuprincipal > ul > li > ul.submenu > li > a:hover{
        background-color: none;
        color:black;
    }

    .button_submenu{
        color:var(--primary-color);
        font-size:25px;
        height:40px;
        color:black;
    }

    .icon_menu_mobile{
        display:block;
    }
}